/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img.flag {
    width: 48px;
    height: 32px;
    border:1px solid #c7c6c6;
}

.match .nation,
.vsli {
    text-transform: uppercase;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

.hero {
    background:url("/img/2014-world-cup-background.jpg") center;
    background-size:cover;
}

.hero .panel {
    background:url("/img/transparent.png") repeat;
}

.match-date {
    line-height:15px;
}