/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img.flag {
    width: 48px;
    height: 32px;
    border:1px solid #c7c6c6;
}
img.ico24 {
    display: inline-block;
    width:24px;
    height:24px;
    background: url("/img/24x24.png") no-repeat
}

.match .nation,
.vsli {
    text-transform: uppercase;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

.hero {
    background:url("/img/2014-world-cup-background.jpg") center;
    background-size:cover;
}

.paul {
    background:url("/img/octopus_paul.jpg") center;
    background-size:cover;
}

.hero .panel,
.paul .panel {
    background:url("/img/transparent.png") repeat;
}

.match-date {
    line-height:15px;
}

.list-group-item-header {
    background-color: #EFEFEF;
}


.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:inline-block!important;
}
 
.animate-hide.ng-hide-add.ng-hide-add-active,
.animate-hide.ng-hide-remove {
    opacity:0;
}
 
.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.editable-row {
    cursor:pointer;
}

.editable-score {
    min-width:280px;
}

.editable-score input,
.editable-bet input {
    width:60px!important;
}

.editable-bet {
    min-width:70px;
}

.text-middle td {
    vertical-align: middle!important;
}