<div class="list-group">
  <p class="list-group-item list-group-item-header"><strong>{{matches[0].stage}}</strong></p>
  <a ng-repeat="m in matches" class="list-group-item match" href ng-click="onMatchClick(m)">
    <div class="row">
      <div class="col-xs-2 match-date text-right">
        <small>{{m.date | date:'M/d HH:mm'}}</small>
      </div>
      <div class="col-xs-4 text-left">
         <abbr ng-attr-title="{{m.team_a}}">
            <img class="flag" ng-alt="{{m.team_a}}" ng-src="/img/{{m.team_a.substr(0,3)}}.png">
         </abbr>
      </div>
      <div class="col-xs-2 vs">
        <kbd>vs</kbd>
      </div>
      <div class="col-xs-4 text-right">
        <abbr ng-attr-title="{{m.team_b}}">
          <img class="flag" ng-alt="{{m.team_b}}" ng-src="/img/{{m.team_b.substr(0,3)}}.png">
        </abbr>
      </div>
    </div>
    <div ng-if="!!m.bet">我的竞猜: {{m.bet.score_a}} : {{m.bet.score_b}}</div>
  </a>
</div>