<div class="row match-row">
  <div class="col-xs-2 match-date text-right">
    <small>{{match.date | date:'M/d'}}<br>{{match.date | date:'HH:mm'}}</small>
  </div>
  <div class="col-xs-4 text-left">
    <img class="flag" ng-alt="Flag of {{match.team_a}}" ng-attr-title="{{match.team_a}}" ng-src="/img/{{match.team_a.substr(0,3)}}.png">
    <span ng-if="!!showNationName" class="nation">{{match.team_a.substr(0,15)}}</span>
  </div>
  <div class="col-xs-2 vs">
    <kbd ng-if="hasScore()">{{match.score_a}} : {{match.score_b}}</kbd>
    <kbd ng-if="!hasScore()">vs</kbd>
  </div>
  <div class="col-xs-4 text-right">
    <span ng-if="!!showNationName" class="nation">{{match.team_b.substr(0,15)}}</span>
    <img class="flag" ng-alt="Flag of {{match.team_b}}" ng-attr-title="{{match.team_b}}" ng-src="/img/{{match.team_b.substr(0,3)}}.png">
  </div>
</div>