<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="ico24 logo" /> 我的2014世界杯</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span>
      </button>
    </div>
    <div ng-if="!!loginInfo.loginUrl" class="navbar-right">
        <a ng-href="{{loginInfo.loginUrl}}" class="btn btn-success navbar-btn">登录</a>
    </div>
    <div ng-if="!!loginInfo.nickName" class="navbar-right navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{activeNav=='default'?'active':''}}"><a ng-href="#/home?mode=default"><span class="glyphicon glyphicon-th-list">&nbsp;按组别</a></li>
        <li class="{{activeNav=='bydate'?'active':''}}"><a ng-href="#/home?mode=bydate"><span class="glyphicon glyphicon-calendar">&nbsp;按日期</a></li>
        <li class="{{activeNav=='my'?'active':''}}"><a ng-href="#/my">我的竞猜</a></li>
      </ul>
      <p class="navbar-text">{{loginInfo.nickName}}</p>
    </div>
  </div>
</div>