<gw-navbar gw-login="loginInfo" gw-activenav="'bestbet'"></gw-navbar>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron brasilflag">
    <div class="container panel">
      <h1>竞猜排名</h1>
      <div class="row text-center hidden-xs">
        <div class="col-xs-6 col-sm-4">
          <gw-chartbetscoredist gw-betscores="betscores"></gw-chartbetscoredist>
        </div>
        <div class="col-xs-6 col-sm-4">
          <gw-chartbetmatchdist gw-betscores="betscores"></gw-chartbetmatchdist>
        </div>
        <div class="col-xs-6 col-sm-4">
          <gw-charttopbet gw-betscores="betscores"></gw-charttopbet>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <gw-spinner gw-show="!loaded"></gw-spinner>
  <div ng-if="!!slipped_award" class="alert alert-success">
    <strong>累积点数: </strong>{{slipped_award}}
  </div>
  <div ng-if="loaded" class="row">
    <div class="col-md-6 col-md-offset-3 table-responsive">
      <table class="table table-hover text-center text-middle table-striped">
        <thead>
          <tr>
            <th class="text-right">参与者</th>
            <th ng-if="showpoints" class="text-center">当前点数</th>
            <th ng-if="showpoints" class="text-center">砸砖消耗</th>
            <th ng-if="showpoints" class="text-center">残余点数</th>
            <th class="text-center">猜对结果</th>
            <th class="text-center">猜对胜负</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="b in betscores">
            <td class="text-right">
              <span class="pull-left label label-default" ng-if="!!b.tag">{{b.tag}}</span>
              <span><span ng-if="!!b[1].donate" class="glyphicon glyphicon-heart red-heart" title="施主证">&nbsp;</span>{{b[0]}}</span>
            </td>
            <td ng-if="showpoints">
              <strong>{{b[1].points.toFixed(2)}}</strong>
            </td>
            <td ng-if="showpoints">
              <i ng-if="!!b[1].donate">{{(b[1].donate*3.0).toFixed(2)}}</i>
            </td>
            <td ng-if="showpoints">
              <strong ng-if="!!b[1].donate">{{(b[1].points-b[1].donate*3.0).toFixed(2)}}</strong>
            </td>
            <td>
              <strong>{{b[1].rightAboutScore}}</strong>
            </td>
            <td>
              <strong>{{b[1].rightAboutWin}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
  <gw-footer></gw-footer>
</div>