<gw-navbar gw-login="loginInfo"></gw-navbar>

<div class="jumbotron">
  <div class="container">
    <h1>{{stage}}</h1>
    <p>点击比赛就可以预测比分</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" ng-repeat="m in matches">
      <div class="btn btn-default" ng-click="showBetModal(m.matchid)">
        <p>{{m.date | date:'M月d日'}}</p>
        <p>{{m.team_a}} vs {{m.team_b}}</p>
        <p>
          比赛结果: <span ng-if="!!m.score_a && !!m.score_b">{{m.score_a}} : {{m.score_b}}</span><span
            ng-if="!m.score_a || !m.score_b">? vs ?</span>
        </p>
        <div ng-if="loggedIn">
          <p
            ng-if="!!guesses[m.matchid].guess_a && !!guesses[m.matchid].guess_b">我的预测：{{guesses[m.matchid].guess_a}}
            vs {{guesses[m.matchid].guess_b}}</p>
        </div>
      </div>
    </div>
  </div>
  <gw-footer></gw-footer>
</div>
<gw-betmodal gw-match="theMatch" gw-guess="theGuess" gw-guessref="theGuessRef"></gw-betmodal>