<gw-navbar gw-login="loginInfo" gw-activenav="mode"></gw-navbar>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron hero">
  <div class="container panel">
    <h1>2014世界杯激烈进行中！</h1>
    <p class="visible-md visible-lg">作为一个球迷、老球迷、或者伪球迷，在比赛开打之前，最忍不住要做的事情就是预测比赛结果了。你觉得你心爱的球队会赢吗？会赢几个球？看看你预测的准不准？至少有没有谁多输赢？想和朋友们一起分享自己的预测或预测结果吗？总之，带着预测和悬念看比赛，让世界杯的一个月过得更有意思吧！</p>
    <p>
      <a class="btn btn-primary btn-lg animate-hide" role="button" ng-click="setKnown()" ng-hide="known">我知道了 &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <gw-notice></gw-notice>
  <gw-spinner gw-show="!loaded"></gw-spinner>
  <div ng-if="loaded && mode=='bydate'" class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-group" ng-repeat="group in groups">
        <p class="list-group-item list-group-item-header"><strong>{{group[0].date | date:'yyyy年M月d日'}}</strong></p>
        <div ng-class="getBetClass(m)" ng-repeat="m in group" href ng-click="showBetModal(m)">
          <gw-matchdiv gw-match="m" gw-shownationname="true" gw-showscore="true"></gw-matchdiv>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="loaded && mode=='default'" class="row" ng-repeat="i in [0, 1, 2, 3]">
    <div class="col-xs-6 col-md-3" ng-repeat="j in [0, 1, 2, 3]">
      <div ng-if="(j+i*4)<13" class="list-group">
        <p class="list-group-item list-group-item-header"><strong>{{groups[j+i*4][0].stage}}</strong></p>
        <div ng-class="getBetClass(m)" ng-repeat="m in groups[j+i*4]"= href ng-click="showBetModal(m)">
          <gw-matchdiv gw-match="m" gw-bet="m.bet" gw-showscore="true"></gw-matchdiv>
        </div>
      </div>
    </div>
  </div>
  <gw-footer></gw-footer>
</div>

<gw-betmodal gw-matchref="theMatchRef" gw-bet="theBet"></gw-betmodal>
<gw-eulamodal></gw-eulamodal>
