<gw-navbar gw-login="loginInfo"></gw-navbar>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>2014世界杯即将开打!</h1>
    <p>作为一个球迷、老球迷、或者伪球迷，在比赛开打之前，最忍不住要做的事情就是预测比赛结果了。你觉得你心爱的球队会赢
      吗？会赢几个球？看看你预测的准不准？至少有没有谁多输赢？想和朋友们一起分享自己的预测或预测结果吗？总之，带着预测和悬念看
      比赛，让世界杯的一个月过得更意思吧！</p>
    <p>
      <a class="btn btn-primary btn-lg" role="button">这就开始 &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row" ng-repeat="i in [0, 1, 2]">
    <div class="col-md-4" ng-repeat="j in [0, 1, 2]">
      <gw-groupdiv ng-if="(j+i*3)<8" gw-matches="groups[j+i*3]"></gw-groupdiv>
    </div>
  </div>
  <gw-footer></gw-footer>
</div>