<gw-navbar gw-login="loginInfo" gw-activenav="'my'"></gw-navbar>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron paul">
    <div class="container panel">
      <h1>我的竞猜</h1>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-4 placeholder">
          <gw-chartwin gw-bets="bets"></gw-chartwin>
        </div>
        <div class="col-xs-6 col-sm-4 placeholder">
          <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojMUUyOTJDO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
          <h4>看好球队</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-4 placeholder">
          <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojZmZmO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
          <h4>看衰球队</h4>
          <span class="text-muted">Something else</span>
        </div>
      </div>
    </div>
  </div>

<div class="container" ng-click="resetAllEditables()">

  <div class="table-responsive">
    <table class="table table-hover text-center text-middle">
      <thead>
        <tr>
          <th class="text-center">场次</th>
          <th class="text-center">所猜比分</th>
          <th class="text-center">点数</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="b in bets" ng-click="editBet($index, $event)" ng-class="getClass($index)">
          <td>
            <gw-matchdiv gw-match="b.match" gw-shownationname="true"></gw-matchdiv>
          </td>
          <td>
            <div class="editable-score">
              <span ng-if="!isediting[$index]">
                <strong>{{b.score_a}} : {{b.score_b}}</strong><small ng-if="results[$index]>=0">(实际比分: {{b.match.score_a}} : {{b.match.score_b}})</small>
              </span>
              <form class="form-inline" role="form" ng-if="!!isediting[$index]">
                <input type="number" class="form-control" id="score_a" ng-model="b.score_a" min="0" max="30" required="true" placeholder="{{b.score_a}}">
                &nbsp;:&nbsp;
                <input type="number" class="form-control" id="score_b" ng-model="b.score_b" min="0" max="30" required="true" placeholder="{{b.score_b}}">
                &nbsp;
                <button type="button" class="btn btn-primary" ng-click="saveBet($index)" ng-disabled="disableSave"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              </form>
            </div>
          </td>
          <td>
            <span>
              <strong>{{b.bet_amount*3}}</strong>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <gw-footer></gw-footer>
</div>