<gw-navbar gw-login="loginInfo" gw-activenav="'my'"></gw-navbar>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron paul">
    <div class="container panel">
      <h1>我的竞猜</h1>
      <div class="row text-center">
        <div class="col-xs-6 col-sm-4">
          <gw-chartwin gw-bets="bets"></gw-chartwin>
        </div>
        <div class="col-xs-6 col-sm-4">
          <gw-chartfav gw-bets="bets"></gw-chartfav>
        </div>
        <div class="col-xs-6 col-sm-4">
          <gw-chartleast gw-bets="bets"></gw-chartleast>
        </div>
      </div>
    </div>
  </div>

<div class="container" ng-click="resetAllEditables()">
  <gw-notice></gw-notice>
  <gw-spinner gw-show="!loaded"></gw-spinner>
  <div ng-if="loaded" class="table-responsive">
    <table class="table table-hover text-center text-middle">
      <thead>
        <tr>
          <th class="text-center">场次</th>
          <th class="text-center">所猜比分</th>
          <th class="text-center">点数</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="b in bets" ng-click="editBet(b, $event)" ng-class="getClass(b)">
          <td>
            <gw-matchdiv gw-match="b.match" gw-shownationname="true" gw-showscore="true"></gw-matchdiv>
          </td>
          <td>
            <div class="editable-score">
              <span ng-if="!b.editable">
                <strong>{{b.score_a}} : {{b.score_b}}</strong>
                <small ng-if="b.result>=0">(实际比分: {{b.match.score_a}} : {{b.match.score_b}})</small>
                <i ng-if="b.result<0 && b.bettable" class="glyphicon glyphicon-pencil text-primary"></i>
              </span>
              <form class="form-inline" role="form" ng-if="b.editable">
                <input type="number" class="form-control" id="score_a" ng-model="b.score_a" min="0" max="30" required="true" placeholder="{{b.score_a}}">
                &nbsp;:&nbsp;
                <input type="number" class="form-control" id="score_b" ng-model="b.score_b" min="0" max="30" required="true" placeholder="{{b.score_b}}">
                &nbsp;
                <button type="button" class="btn btn-primary" ng-click="saveBet($index, $event)" ng-disabled="disableSave"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              </form>
            </div>
          </td>
          <td>
            <span>
              <strong>{{b.bet_amount*3}}</strong>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <gw-footer></gw-footer>
</div>