<!DOCTYPE html>
<html lang="zh_cn">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="fragment" content="!" />
<meta property="wb:webmaster" content="e4fd0bf29d1fa5f6" />
<link rel="shortcut icon" href="img/24x24.png">

<title>Guess 2014</title>

<!-- Bootstrap core CSS -->
{% block css %}
<link href="css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

<!-- Custom styles for this template -->
<link href="css/main.css" rel="stylesheet">
</head>

<body>
  {% block content %}
  <div ng-view ng-app="WorldCupApp" ng-controller="TopViewCtrl"></div>
  <div id="fb-root"></div>
  {% endblock %}
  {% block script %}
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.1.1/bootstrap.min.js"></script>
  <script src="js/third-party/angular.js"></script>
  <script src="js/third-party/angular-route.js"></script>
  <script src="js/third-party/angular-animate.js"></script>
  <script src="js/third-party/angular-cookies.js"></script>
  <script src="js/third-party/Chart.js"></script>
  <script src="js/third-party/moment.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/service/miner.js"></script>
  <script src="js/service/guesser.js"></script>
  <script src="js/directive/navbar.js"></script>
  <script src="js/directive/notice.js"></script>
  <script src="js/directive/footer.js"></script>
  <script src="js/directive/matchdiv.js"></script>
  <script src="js/directive/betmodal.js"></script>
  <script src="js/directive/betmodalextra.js"></script>
  <script src="js/directive/eulamodal.js"></script>
  <script src="js/directive/chartwin.js"></script>
  <script src="js/directive/chartfav.js"></script>
  <script src="js/directive/chartleast.js"></script>
  <script src="js/directive/spinner.js"></script>
  <script src="js/directive/chartallbets.js"></script>
  <script src="js/directive/chartpop.js"></script>
  <script src="js/directive/chartbetscoredist.js"></script>
  <script src="js/directive/chartbetmatchdist.js"></script>
  <script src="js/directive/charttopbet.js"></script>
  <script src="js/view/topview.js"></script>
  <script src="js/view/home.js"></script>
  <script src="js/view/date.js"></script>
  <script src="js/view/my.js"></script>
  <script src="js/view/betanalysis.js"></script>
  <script src="js/view/bestbet.js"></script>
  <script src="js/view/carlnan.js"></script>
  {% endblock %}
  <script>
    {% if user_nickname %}WorldCupApp.user_nickname = '{{ user_nickname }}';{% endif %}
    {% if login_url %}WorldCupApp.login_url = '{{ login_url }}';{% endif %}
    {% if pref %}WorldCupApp.eula_accepted = '{{ pref.eulaAccepted }}'.toLowerCase();{% endif %}
  </script>
</body>
</html>