{% extends "base.html" %}

{% block content %}
{% if matches %}

{% for stage in matches %}

{% for match in stage %}
{% if loop.first %}
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">{{match.stage}}</h3>
</div>
<div class="panel-body">            
<ul class="list-group">
{% endif %}
<li class="list-group-item">{{ match.team_a|e }} vs {{ match.team_b|e }} on {{ match.date|e }}</li>
{% if loop.last %}
</ul>
</div>
</div>
{% endif %}
{% endfor %}

{% endfor %}

{% else %}
  <h1>Hello World!</h1>
{% endif %}
{% endblock %}